@model IEnumerable<Book>

<h2>Books</h2>

<div style="display: block">
    <a href="/Book/InsertBook/">Add a Book</a>
</div>

<table class="table">
    <tr>
        <th>BookID</th>
        <th>Title</th>
        <th>Author</th>
        <td>Genre</td>
        <th>Characteristics</th>
        <th>ISBN</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td><a href=/Book/ViewBook/@book.BookID>@book.BookID</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Genre</td>
            <td>@book.Characteristics</td>
            <td>@book.ISBN</td>
        </tr>

    }
</table>