@model Book

<h2>Update @Model.Title</h2>

@using (Html.BeginForm("UpdateBookToDatabase", "Book", "Post"))
{
    <input asp-for="BookID" type="hidden" value="@Model.BookID" />

    <label asp-for="BookID" class="control-label">BookID</label>

    <input type="text" name="Title" class="form-control" value="@Model.Title" />

    <label asp-for="Author" class="control-label">Author</label>

    <input type="number" step="0.01" name="Author" class="form-control" value="@Model.Author" />

    <label asp-for="Characteristics" class="control-label">Characteristics</label>

    <input type="number" step="0.01" name="Characteristics" class="form-control" value="@Model.Characteristics" />

    <input type="submit" value="Update Product" class="btn btn-primary" />

}
